body {
  font-family: Helvetica;
}

#main_app {

}

#main_desc {

}

#brand {
  font-size: 12px;
}

#model {
 font-size: 18px;
 font-weight: 500;
}

#price_shipping {
  font-size: 12px;
  color: grey;
}

#stock {
  font-size: 16px;
  font-weight: normal;
  color: green;
}

#list_desc {
  padding-top: 10px;
  padding-left: 10px;
}

ul {
   padding-left: 10px;
}

li {
  font-size: 13px;
}
