body {
  font-family: Helvetica;
}

#main_desc {
  width: 35%;
}

#brand {
  font-size: 12px;
  margin: 1px;
  color: #0066c7;
}

#model {
 font-size: 19px;
 font-weight: 500;
 margin: 0;
 border-bottom: solid #e7e7e7 1px;
 padding-bottom: 4px;
}

#price_shipping {
  font-size: 12px;
  color: #555555;
}

#price {
  font-size: 16px;
  font-weight: normal;
  color: #b12704;
}

#shipping {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
}

#stock {
  font-size: 16px;
  font-weight: normal;
}

#in {
  color: #008a00;
}

#out {
  color: #b12704;
}

#list_desc {

}

ul {
margin: 0;
list-style: none;
padding-left: 1px;
line-height: 1.6;
}

li {
  font-size: 13px;
}

li::before {
  content: "• ";
  color: #a1a1a1;
}
